@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main-forgot {
    height: 100%;
    width: 100%;
    /* background-image: url('../images/background.jpg'); */
    background-color: #960505;
}

.form-forgot-pass {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    filter: none;
}

.form-forgot-pass h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-forgot-enviar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b80707;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: white;
    width: 90px;
    height: 40px;
    margin-top: 1rem;
    transition: 0.5s;
}

.btn-forgot-enviar:hover {
    background-color: #ca4040;
    color: white;
}

.title-app-forgot {
    display: flex;
}

.title-app-forgot h2 {
    margin-bottom: 50px;
    color: #ffff;
    font-family: 'Qwigley', cursive;
    font-size: 70px;
}

.title-app-forgot img {
    width: 40px;
    height: 40px;
}